<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @personal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @personal.description %>
</p>


<%= link_to 'Edit', edit_personal_path(@personal) %> |
<%= link_to 'Back', personals_path %>






