<div class="pageheading"><hr class="space"></div>


<div class="span-6">
	<%= image_tag("me.jpg", :alt => "Sushmita photo", :class => "sushmita_photo") %>
</div>
<div class="about prepend-3 span-14 last ">
<p>When I was growing up I wanted to be a detective or a musician. I wanted to 
investigate people and get to the bottom of a mystery. Or I wanted the chance 
to express myself creatively in a way that reached people. In a lot of ways, I'm 
living up to my childhood dreams by indulging both my curious and my creative urges. 
I love talking to people, finding out what makes them tick, and then designing
something that improves their life in some way.  </p>
<p>
I believe in a holistic design approach - one that takes into account the whole
picture of people, their environments, interactions, and their needs and desires.  
I'm particularly interested in design ideas that elicit an emotional response,
conect with people, or challenge or motivate people in some way.
</p>
<p>In addition to designing, I enjoy cooking and eating food, making art and music, 
running, dancing, slacklining, biking, hanging out with my husband and my friends, 
and playing with my cat.</p>


<div class="profile_links">
	<p>Feel free to shoot me an email at <br />
	<%= image_tag("/images/emailaddress.png") %>
	<br />You can also check out my:<br />
	<%= link_to image_tag("/images/linkedin_icon.png"), 
			"http://www.linkedin.com/in/sushmitasubramanian" %> 
			<%= link_to("LinkedIn profile", "http://www.linkedin.com/in/sushmitasubramanian") %>
		&nbsp;&nbsp;or my &nbsp;&nbsp;
		<%= image_tag	("/images/blog_icon.png") %>
			 <%= link_to("personal blog", "http://sushmita.posterous.com") %>
	</p>
</div>

</div>
<hr class="space">
<hr class="space">

<hr class="space">
