

<div class="prepend-2 span-8">
	<div class="intro"><p>
	I'm an <span class="introemphasis">interaction designer</span> living in San 
	Francisco. I believe in a design approach that takes into account not just 
	people's interactions with technology, but also their 
	<span class="introemphasis">motivations</span>, their 
	<span class="introemphasis">social and emotional needs</span>, and their 
	general <span class="introemphasis">interactions with each other and 
	the world</span> around them. </p> 
	<p>Welcome to my online portfolio. Please take a look around.</p> </div>
	
</div>
<div class="span-14 last">

	<div id="frame" class="prepend-3 span-11 last">
		<ul>
			<li><%= link_to image_tag("designframe_bw.png", :alt => "Design projects", 
				:mouseover => "designframe_color.png"), projects_path %></li>
			<li><%= image_tag("artframe_bw.png", :alt => "Art projects", 
			:mouseover => "artframe_color.png") %></li>
			<li><%= link_to image_tag("resumeframe_bw.png", :alt => "Resume",
			:mouseover => "resumeframe_color.png"), resume_path %></li>
			<li><%= link_to image_tag("aboutframe_bw.png", :alt => "About me",
			:mouseover => "aboutframe_color.png"), about_path %></li>
		</ul>
	</div>

	<div class="prepend-1 span-8">
		<%= image_tag("sushmita_cartoon2.png", :alt => "Sushmita cartoon image", 
		:class => "sushmitacartoonimg") %>
	</div>
</div>
<hr>


<hr class="space">
