<div class="span-24" style="background:url('/images/home/background.png') no-repeat; background-size:100%; height:400px;">
<div class="prepend-1 span-10">
	<div class="intro">
	<span class="introemphasis">Hi, I'm Sushmita.</span> <br />I'm an <span class="introemphasis">interaction designer</span> living in San 
	Francisco. I like to study <span class="introemphasis">
	how people interact with each other</span>, <span class="introemphasis">technology</span>, and their <span class="introemphasis">environments</span> and create solutions
	to improve their <span class="introemphasis">experiences</span>. 
	<p><br />Welcome to my online portfolio. 
	Please take a look around.</p></div>
	
</div>
<div class="span-13 last">

	<div id="frame" class="prepend-3 span-10 last">
		<ul>
			<li><%= link_to image_tag("home/designframe_bw.png", :alt => "Design projects", 
				:mouseover => "home/designframe_color.png"), projects_path %></li>
			<li><%= link_to image_tag("home/artframe_bw.png", :alt => "Art projects", 
			:mouseover => "home/artframe_color.png"), personals_path %></li>
			<li><%= link_to image_tag("home/resumeframe_bw.png", :alt => "Resume",
			:mouseover => "home/resumeframe_color.png"), resume_path %></li>
			<li><%= link_to image_tag("home/aboutframe_bw.png", :alt => "About me",
			:mouseover => "home/aboutframe_color.png"), about_path %></li>
		</ul>
	</div>

	<div class="prepend-1 span-8">
		<%= image_tag("home/me_cartoon4.png", :alt => "Sushmita cartoon image", 
		:class => "sushmitacartoonimg") %>
	</div>
</div>


<hr class="space">
</div>
