

<div class="prepend-1 span-10">
	<div class="intro">
	<span class="introemphasis">Hi, I'm Sushmita.</span> <br />I'm an <span class="introemphasis">interaction designer</span> living in San 
	Francisco. I like to study <span class="introemphasis">
	how people interact with each other</span>, <span class="introemphasis">technology</span>, and their <span class="introemphasis">environments</span> and create solutions
	to improve their <span class="introemphasis">experiences</span>. 
	<p><br />Welcome to my online portfolio. 
	Please take a look around.</p></div>
	
</div>
<div class="span-13 last">

	<div id="frame" class="prepend-3 span-10 last">
		<ul>
			<li><%= link_to image_tag("designframe_bw.png", :alt => "Design projects", 
				:mouseover => "designframe_color.png"), projects_path %></li>
			<li><%= image_tag("artframe_bw.png", :alt => "Art projects", 
			:mouseover => "artframe_color.png") %></li>
			<li><%= link_to image_tag("resumeframe_bw.png", :alt => "Resume",
			:mouseover => "resumeframe_color.png"), resume_path %></li>
			<li><%= link_to image_tag("aboutframe_bw.png", :alt => "About me",
			:mouseover => "aboutframe_color.png"), about_path %></li>
		</ul>
	</div>

	<div class="prepend-1 span-8">
		<%= image_tag("sushmita_cartoon2.png", :alt => "Sushmita cartoon image", 
		:class => "sushmitacartoonimg") %>
	</div>
</div>


<hr class="space">
