<div id="header" class="span-24 last">
	<div id="logo" class="span-9">
	<% if @menuselect == "Home" %><%= link_to image_tag("logo3.png"), root_path, 
	:class => "selected" %>
	<% else %><%= link_to image_tag("logo4.png"), root_path %>
	<% end %>
	</div>
	<div id="nav" class="span-15 last" >
		<ul>
			<% if @menuselect == "Projects" %>
			<li><%= link_to "design", projects_path, :class => "selected" %></li>
			<% else %>
			<li><%= link_to "design", projects_path %></li>
			<% end %>

			<% if @menuselect == "Personal" %>
			<li><%= link_to "art", personals_path, :class => "selected" %></li>
			<% else %>
			<li><%= link_to "art", personals_path %></li>
			<% end %>
			
			<% if @menuselect == "Resume" %>
			<li><%= link_to "resume", resume_path, :class => "selected" %></li>
			<% else %>
			<li><%= link_to "resume", resume_path %></li>
			<% end %>
			
			<% if @menuselect == "About" %>
			<li><%= link_to "about", about_path, :class => "selected" %></li>
			<% else %>
			<li><%= link_to "about", about_path %></li>
			<% end %>
			
			
		</ul>
	</div>

	


</div>
