<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
		<%= javascript_include_tag :defaults %>
		<%= javascript_include_tag 'jquery/jquery-1.4.4.min' %>
		<%= javascript_include_tag 'images' %>
		<%= javascript_include_tag 'imagenavlinks' %>
		<%= javascript_include_tag 'preloadimages' %>
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			try{
			var pageTracker = _gat._getTracker("UA-1344406-1");
			pageTracker._trackPageview();
			} catch(err) {}

			//preloading images on the homepage

			preload([
				'/images/home/designframe_color.png',
				'/images/home/artframe_color.png',
				'/images/home/resumeframe_color.png',
				'/images/home/aboutframe_color.png'
			]);

			
		</script>

	</head>
	
	<body <%= yield(:body) %>>
		<div class="container">
			<%= render 'layouts/header' %>
			
			<%# Render flash notifications if necessary %>
			<% if not flash.empty? %>
			<div class="span-24 last">
				<% flash.each do |key, value| %>
					<div class="flash <%= key %>"><%= value %></div>
				<% end %>
			</div>
			<% end %>

			<%# Display the requested page content %>
			<%= yield %>
			
			<%= render 'layouts/footer' %>
			
			<%# Show the debug information if we're in the development environment %>
			<div class="span-24 last">
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
	</body>
</html>
